*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202124;
    color: white;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.navLogo {
    align-items: center;
}

.logo {
    margin-right: 50px;
}

.headerRight {
    display: flex;
    gap: 30px;
}

.fa-search {
    margin-right: 15px;
}

.fa-clipboard, .fa-bars {
    font-size: 1.5rem !important;
}

.clipboard {
    position: relative;
    margin-right: 10px;
}

.banner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    color: black;
    position: absolute;
    bottom: -1px;
    right: -17px;
    display: grid;
    place-items: center;
}




/* MAIN */

main {
    display: flex;
    align-items: center;
    padding: 20px 7%;
}

.main-left {
    flex: 1;
}

.main-left h4 {
    color: orange;
}

.main-left h1 {
    margin: 25px 0;
}

.main-left p {
    color: #b5b5b5;
}

.qntsize {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.qnt, .size {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid white;
    padding: 6px 10px;
}

.fa-angle-down {
    color: orange;
}

.price {
    padding: 6px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid orange;
}

.main-right {
    flex: 2;
}

.main-product-image {
    transform: rotate(-10deg);
}




/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    align-items: flex-end;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 20px 30px;
    background-color: #374151;
    color: #F5C000 !important;
    cursor: pointer;
}

.atc {
    cursor: pointer;
    padding: 20px 90px;
    background-color: #374151;
    color: #F5C000;
    font-weight: 700;
    text-transform: uppercase;
}